{% extends "notes/base.html" %}
{% load static %}

{% block content %}
    <div class="appbar">
      <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
      <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </div>

    <main class="container">
      <form class="form-card" method="post">
        {% csrf_token %}
        <input
          class="form-card-title"
          type="text"
          name="titulo"
          value="{{ note.title }}"
        />
        <textarea
          class="autoresize"
          name="detalhes"
        >{{ note.content }}</textarea>
        <input
          class="form-card-title form-card-tag"
          type="text"
          name="tag"
          placeholder="Adicione uma tag"
          value="{{ note.tag.name }}"
        />
        <div class="form-actions">
          <a href="/" class="btn btn-cancel">Cancelar</a>
          <button class="btn" type="submit">Salvar</button>
        </div>
      </form>
    </main>
{% endblock %}
